.card{
    display:inline-block;
    background: #ecfd38a3;
    border-radius:.5rem;
    padding: .2rem;
    margin: .5rem;
    cursor:pointer;
    border-width:.25rem;
    box-shadow:4px 4px 8px 0px rgba( 0, 0, 0, 0.4 )
}

.card:hover {
    transform:scale(1.05)
}

.robot-info{
   font-family: 'Courier New', Courier, monospace;
}

.link {
    text-decoration: none; 
    color: #305f72
}