@font-face {
  font-family: 'Optimus Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Optimus Regular'), url('Optimus.woff') format('woff');
  }

.App {
  text-align: center;
  background-color:#efcddf;
}

.App h1 {
  margin: 0;
  font-family: 'Optimus Regular';
  font-size: 3.5em;
  color: #305f72;
}
